# [教學目標]
- 知道 DataFrame 如何檢視欄位的型態數量以及各欄型態, 以及 Label Encoding / One Hot Encoding 如何寫?

# [範例重點]
- 檢視 DataFrame 的資料型態 (In[3], In[4])
- 了解 Label Encoding 如何寫 (In[6])
- 了解 One Hot Encoding 如何寫 (In[7])

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
# dir_data = 'D:\ML100Days\ML100Days\homework\Day4\TestData'
# f_app_train = os.path.join(dir_data, 'application_train.csv')
# f_app_test = os.path.join(dir_data, 'application_test.csv')

# app_train = pd.read_csv(f_app_train)
# app_test = pd.read_csv(f_app_test)


#設定 data_path
dir_data = "D:\ML100Days\ML100Days\homework\Day4\TestData"
f_app_train = os.path.join(dir_data, "application_train.csv")
f_app_test = os.path.join(dir_data, "application_train.csv")

app_train = pd.read_csv(f_app_train)
app_test = pd.read_csv(f_app_test)

檢視資料中各個欄位類型的數量

In [3]:
# app_train.dtypes.value_counts()

print(app_train.dtypes)
print("-----------------------------")
print(app_train.dtypes.values)
print("------------------------------")
print(app_train.dtypes.value_counts())

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object
-----------------------------
[dtype('int64') dtype('int64') dtype('O') dtype('O') dtype('O') dtype('O')
 dtype('int64') dtype('float64') dtype('float64') dtype('float64')
 dtype('float64') dtype('O') dtype('O') dtype('O') dtype('O') dtype('O')
 dtype('float64') dtype('int64') dtype('int64') dtype('float64')
 dtype('int64') dtype('float64') dtype('int64') dtype('int64')
 dtype('int64') dtype('int64') dtype('int64') dtype('int64') dtype('O')
 dtype('float64') dtype('int64') dtype('int64') dtype('O') dtype('int64')
 dtype('int64') dtype('int64') dtype('int64') dtype('int64')
 dtype('int64') dtype('int64') dtype('O') dtype('float64')
 dtype('float64') dtype('float64') dtype('float64') dtype('float64')
 dtype('float64') dtype('float64') dtype('float64') dtype('float64')
 dtype('float64') dtype('float64') dtype('float64') dtype('float64')
 dtype('float64') dtype('float64') dtype('float64') dtype('float64')
 dtype('float64') dtype('float64') dtype('float64') dtype('float64')
 dtype('float64') dtype('float64') dtype('float64') dtype('float64')
 dtype('float64') dtype('float64') dtype('float64') dtype('float64')
 dtype('float64') dtype('float64') dtype('float64') dtype('float64')
 dtype('float64') dtype('float64') dtype('float64') dtype('float64')
 dtype('float64') dtype('float64') dtype('float64') dtype('float64')
 dtype('float64') dtype('float64') dtype('float64') dtype('float64')
 dtype('O') dtype('O') dtype('float64') dtype('O') dtype('O')
 dtype('float64') dtype('float64') dtype('float64') dtype('float64')
 dtype('float64') dtype('int64') dtype('int64') dtype('int64')
 dtype('int64') dtype('int64') dtype('int64') dtype('int64')
 dtype('int64') dtype('int64') dtype('int64') dtype('int64')
 dtype('int64') dtype('int64') dtype('int64') dtype('int64')
 dtype('int64') dtype('int64') dtype('int64') dtype('int64')
 dtype('int64') dtype('float64') dtype('float64') dtype('float64')
 dtype('float64') dtype('float64') dtype('float64')]
------------------------------
float64    65
int64      41
object     16
dtype: int64

檢視資料中類別型欄位各自類別的數量

In [9]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [1, 1, 1]})
df

   A  B
0  1  1
1  2  1
2  3  1

In [12]:
df.nunique()

A    3
B    1
dtype: int64

In [13]:
df.nunique(axis=1)

0    1
1    2
2    2
dtype: int64

In [15]:
print(app_train.select_dtypes(include=["object"]))

       NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0              Cash loans           M            N               Y
1              Cash loans           F            N               N
2         Revolving loans           M            Y               Y
3              Cash loans           F            N               Y
4              Cash loans           M            N               Y
...                   ...         ...          ...             ...
307506         Cash loans           M            N               N
307507         Cash loans           F            N               Y
307508         Cash loans           F            N               Y
307509         Cash loans           F            N               Y
307510         Cash loans           F            N               N

       NAME_TYPE_SUITE      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
0        Unaccompanied               Working  Secondary / secondary special
1               Family         State servant               Higher education
2        Unaccompanied               Working  Secondary / secondary special
3        Unaccompanied               Working  Secondary / secondary special
4        Unaccompanied               Working  Secondary / secondary special
...                ...                   ...                            ...
307506   Unaccompanied               Working  Secondary / secondary special
307507   Unaccompanied             Pensioner  Secondary / secondary special
307508   Unaccompanied               Working               Higher education
307509   Unaccompanied  Commercial associate  Secondary / secondary special
307510   Unaccompanied  Commercial associate               Higher education

          NAME_FAMILY_STATUS  NAME_HOUSING_TYPE OCCUPATION_TYPE  \
0       Single / not married  House / apartment        Laborers
1                    Married  House / apartment      Core staff
2       Single / not married  House / apartment        Laborers
3             Civil marriage  House / apartment        Laborers
4       Single / not married  House / apartment      Core staff
...                      ...                ...             ...
307506             Separated       With parents     Sales staff
307507                 Widow  House / apartment             NaN
307508             Separated  House / apartment        Managers
307509               Married  House / apartment        Laborers
307510               Married  House / apartment        Laborers

       WEEKDAY_APPR_PROCESS_START       ORGANIZATION_TYPE FONDKAPREMONT_MODE  \
0                       WEDNESDAY  Business Entity Type 3   reg oper account
1                          MONDAY                  School   reg oper account
2                          MONDAY              Government                NaN
3                       WEDNESDAY  Business Entity Type 3                NaN
4                        THURSDAY                Religion                NaN
...                           ...                     ...                ...
307506                   THURSDAY                Services   reg oper account
307507                     MONDAY                     XNA   reg oper account
307508                   THURSDAY                  School   reg oper account
307509                  WEDNESDAY  Business Entity Type 1                NaN
307510                   THURSDAY  Business Entity Type 3                NaN

        HOUSETYPE_MODE WALLSMATERIAL_MODE EMERGENCYSTATE_MODE
0       block of flats       Stone, brick                  No
1       block of flats              Block                  No
2                  NaN                NaN                 NaN
3                  NaN                NaN                 NaN
4                  NaN                NaN                 NaN
...                ...                ...                 ...
307506  block of flats       Stone, brick                  No
307507  block of flats       Stone, brick                  No
307508  block of flats              Panel                  No
307509  block of flats       Stone, brick                  No
307510  block of flats              Panel                  No

[307511 rows x 16 columns]

In [18]:
print(app_train.apply(pd.Series.nunique, axis = 0))

SK_ID_CURR                    307511
TARGET                             2
NAME_CONTRACT_TYPE                 2
CODE_GENDER                        3
FLAG_OWN_CAR                       2
                               ...
AMT_REQ_CREDIT_BUREAU_DAY          9
AMT_REQ_CREDIT_BUREAU_WEEK         9
AMT_REQ_CREDIT_BUREAU_MON         24
AMT_REQ_CREDIT_BUREAU_QRT         11
AMT_REQ_CREDIT_BUREAU_YEAR        25
Length: 122, dtype: int64

In [8]:
print(app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0))
print("------------------------------")
print(app_train.select_dtypes(include=["int64"]).apply(pd.Series.nunique, axis=0))

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64
------------------------------
SK_ID_CURR                     307511
TARGET                              2
CNT_CHILDREN                       15
DAYS_BIRTH                      17460
DAYS_EMPLOYED                   12574
DAYS_ID_PUBLISH                  6168
FLAG_MOBIL                          2
FLAG_EMP_PHONE                      2
FLAG_WORK_PHONE                     2
FLAG_CONT_MOBILE                    2
FLAG_PHONE                          2
FLAG_EMAIL                          2
REGION_RATING_CLIENT                3
REGION_RATING_CLIENT_W_CITY         3
HOUR_APPR_PROCESS_START            24
REG_REGION_NOT_LIVE_REGION          2
REG_REGION_NOT_WORK_REGION          2
LIVE_REGION_NOT_WORK_REGION         2
REG_CITY_NOT_LIVE_CITY              2
REG_CITY_NOT_WORK_CITY              2
LIVE_CITY_NOT_WORK_CITY             2
FLAG_DOCUMENT_2                     2
FLAG_DOCUMENT_3                     2
FLAG_DOCUMENT_4                     2
FLAG_DOCUMENT_5                     2
FLAG_DOCUMENT_6                     2
FLAG_DOCUMENT_7                     2
FLAG_DOCUMENT_8                     2
FLAG_DOCUMENT_9                     2
FLAG_DOCUMENT_10                    2
FLAG_DOCUMENT_11                    2
FLAG_DOCUMENT_12                    2
FLAG_DOCUMENT_13                    2
FLAG_DOCUMENT_14                    2
FLAG_DOCUMENT_15                    2
FLAG_DOCUMENT_16                    2
FLAG_DOCUMENT_17                    2
FLAG_DOCUMENT_18                    2
FLAG_DOCUMENT_19                    2
FLAG_DOCUMENT_20                    2
FLAG_DOCUMENT_21                    2
dtype: int64

In [23]:
a=[1 ,2 ,3]
unique(a)

NameError: name 'unique' is not defined

#### Label encoding
有仔細閱讀[參考資料](https://medium.com/@contactsunny/label-encoder-vs-one-hot-encoder-in-machine-learning-3fc273365621)的人可以發現，Label encoding 的表示方式會讓同一個欄位底下的類別之間有大小關係 (0<1<2<...)，所以在這裡我們只對有類別數量小於等於 2 的類別型欄位示範使用 Label encoding，但不表示這樣處理是最好的，一切取決於欄位本身的意義適合哪一種表示方法

In [19]:
from sklearn.preprocessing import LabelEncoder

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelEncoder

In [24]:
# Create a label encoder object
# le = LabelEncoder()
# le_count = 0

# # Iterate through the columns
# for col in app_train:
#     if app_train[col].dtype == 'object':
#         # If 2 or fewer unique categories
#         if len(list(app_train[col].unique())) <= 2:
#             # Train on the training data
#             le.fit(app_train[col])
#             # Transform both training and testing data
#             app_train[col] = le.transform(app_train[col])
#             app_test[col] = le.transform(app_test[col])
            
#             # Keep track of how many columns were label encoded
#             le_count += 1
            
# print('%d columns were label encoded.' % le_count)



le = LabelEncoder()
le_count = 0

#Iterate through the columns
for col in app_train:
    if app_train[col].dtype == "object":
        # If 2 or fewer unique categories
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train[col])
            # Transform both training and testing data
            app_train[col] = le.transform(app_train[col])
            app_test[col] = le.transform(app_test[col])
            
            
            # Keep track of how many columns were label encoded
            le_count += 1
print( " %d columns were label encoded."  %le_count)



# le = LabelEncoder()
# le_count = 0

# for col in app_train:
#     if app_train[col].dtype == "object":
#         if len(list(app_train[col].unique()))) <= 2:
#             le.fit(app_train[col])
#             app_train[col] = le.transform(app_train[col])
#             app_test[col] = le.transform(app_train[col])
#             le_count += 1
# print( " %d columns were label encoded."  %le_count)

 3 columns were label encoded.

#### One Hot encoding
pandas 中的 one hot encoding 非常方便，一行程式碼就搞定

In [18]:
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)

print(app_train['CODE_GENDER_F'].head())
print(app_train['CODE_GENDER_M'].head())
print(app_train['NAME_EDUCATION_TYPE_Secondary / secondary special'].head())

0    0
1    1
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8
0    1
1    0
2    1
3    0
4    1
Name: CODE_GENDER_M, dtype: uint8
0    1
1    0
2    1
3    1
4    1
Name: NAME_EDUCATION_TYPE_Secondary / secondary special, dtype: uint8

可以觀察到原來的類別型欄位都轉為 0/1 了

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [27]:
app_train = pd.read_csv(f_app_train)
# print(app_train['WEEKDAY_APPR_PROCESS_START'])
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [34]:
"""
Your Code Here
"""

# WW=pd.get_dummies(sub_train)
# print(WW["WEEKDAY_APPR_PROCESS_START_MONDAY"].head())

WW=pd.get_dummies(sub_train)
print(WW['WEEKDAY_APPR_PROCESS_START_WEDNESDAY'].head())

0    1
1    0
2    0
3    1
4    0
Name: WEEKDAY_APPR_PROCESS_START_WEDNESDAY, dtype: uint8

In [23]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
                   'C': [1, 2, 3]})

In [24]:
df

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  3

In [25]:
# pd.get_dummies(df, prefix=['col1', 'col2'])
pd.get_dummies(df,prefix=['col1','col2'])

   C  col1_a  col1_b  col2_a  col2_b  col2_c
0  1       1       0       0       1       0
1  2       0       1       1       0       0
2  3       1       0       0       0       1

In [26]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [31]:
# pd.Series(list('abcaa')
pd.Series(list('abcaa'))

0    a
1    b
2    c
3    a
4    a
dtype: object

In [32]:
pd.get_dummies(pd.Series(list('abcaa')))

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0
4  1  0  0

In [28]:
list('eee')

['e', 'e', 'e']

In [29]:
pd.Series(list('eee'))

0    e
1    e
2    e
dtype: object